.home{
 color:white;
 display: flex;
 align-items: center;
 justify-content: space-between;
 /* background: #000; */
}

.home aside{
    padding-left: 30px;
    width: 50%;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking-cursor {
    animation: blink .8s infinite;
}

.home h1{
    font-size: 60px;
    font-weight: bolder;

}
.home label{
    margin:30px 0;
    color: #CFCFD1;
    font-size: 17px;
    line-height: 30px;   
}

.home div{
    width: 45%;

}
.home img{
    border-radius: 50%;
    width: 100%;
    /* box-shadow: 4px 4px 0px 0px #006bdd; */
 }

 

 @media screen and (max-width: 480px) {
    .home{
        display:block;
    }
    .home aside{
        width: 100%;
    }
    .home div{
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }
    .home img{
        width: 90%
    }
}