
.portfolio>img{
    margin: 20px;
}

.portfolio img{
    width: 420px;
    height: 200px;
    object-fit: cover;
    border:1px solid #ccc;
    cursor:pointer;

}

@media screen and (max-width: 480px) {
    .portfolio img{
        width:100%
    }

}